#rin-main {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: calc(50vh - 200px);
}

@media (max-width: 600px) {
    #rin-main {
        width: 95%;
    }
}

#rin-headimg {
    background-image: url('https://q1.qlogo.cn/g?b=qq&nk=2858727468&s=0');
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    cursor: pointer;
    background-size: cover;
    border: 3px solid #f5f5f5;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
}

#rin-headimg:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotate(360deg) scale(1.2);
}

.rin-name {
    margin-top: 20px;
    color: #f5f5f5;
    font-size: 29px;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(255, 255, 255, .6);
}

.rin-description {
    color: #f5f5f5;
    text-shadow: 0 0 8px rgba(255, 255, 255, .6);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 8px;
}

.rin-slogan {
    font-size: 14px;
    color: #f5f5f5;
    margin-top: 15px;
    margin-bottom: 20px;
}

.rin-btn {
    color: #f5f5f5;
    margin-top: 10px;
    border-radius: 5px;
    text-shadow: 5px 10px 15px rgba(255, 255, 255, .6);
}
